/* Ekhana theke universal selector suru */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Ekhana theke universal selector suru   */


/* google font  */

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* google font */





/* Ekhana theke  shared section style suru */

.header,
.plants,
.flowers-plants,
.discount-list {
  max-width: 1140px;
  margin: 0 auto;
}

.latest-deals-info, .join , .footer-section{
  max-width: 1440px;
  margin: 0 auto;
}
.section-title {
  font-size: 3.125rem;
  font-weight: bold;
  color: #000000;
}
.section-description {
  font-size: 1.375rem;
  color: rgba(0, 0, 0, 0.5);
}
/* Ekhana theke  shared section style sesa */



/* Ekhana theka navbar section style suru */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
  display: flex;
}
.menu-item {
  list-style: none;
  margin-left: 48px;
}
.menu-item a {
  text-decoration: none;
  font-size: 1rem;
  color: #8987a1;
}
#home a {
  color: #252432;
  font-weight: bold;
}
#cart {
  color: #000000;
}
#cart-pic {
  margin-right: 10px;
}
/* Ekhana theka navbar section style sesa */



/* Ekhana theka banner section style suru */

.banner {
  display: flex;
  align-items: center;
  margin: 120px 0px;
}
.banner-content {
  max-width: 570px;
}
.banner-titles {
  margin-bottom: 13px;
}
.banner-title {
  font-size: 4.0625rem;
  color: #000000;
}
.fresh {
  color: #e95a08;
}

.banner-profile img {
  width: 100%;
}
/* Ekhana theka banner section style sesa */





/* Ekhana theka plants section style suru */

.plants-titles {
  text-align: center;
  margin-bottom: 49px;
}
.plants-title {
  margin-bottom: 16px;
}

.flowers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 30px;
  column-gap: 20px;
}
.flower img {
  width: 100%;
}
.flower-content {
  margin-top: 30px;
  text-align: center;
}
.flower-title {
  color: #111111;
  font-size: 1.375rem;
  font-weight: 500;
}
.flower-price {
  font-size: 1.375rem;
  color: #111111;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 30px;
}
.add-cart {
  background-color: #e95a08;
  color: #ffffff;
  font-weight: 600;
  padding: 19px 0px;
  width: 100%;
  border: none;
}
/* Ekhana theka plants section style sase*/



/* Ekhana theka flower and plants section style suru */

.flowers-plants {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 210px;
  margin-bottom: 133px;
}
.flowers-plants-img {
  position: relative;
  max-width: 540px;
}
.flowers-plants-img img {
  width: 100%;
}
.trusted-badge {
  width: 100%;
  width: 286px;
  height: 286px;
  position: absolute;
  top: -22%;
  right: -40%;
}
.flowers-plants-content {
  max-width: 540px;
}

.flowers-plants-content li {
  margin-top: 20px;
  margin-left: 0px;
}
/* Ekhana theka flower and plants section style sase */




/* Ekhana theka latest deals section style suru */
.latest-deals {
  margin-bottom: 120px;
}

.latest-deals-info {
  text-align: center;
}

.latest-deals-title {
  margin-bottom: 16px;
}

.discount-list {
  display: grid;
  grid-template-areas:
    "off-60 off-25 off-25 "
    "off-30 off-25 off-25";
  column-gap: 28px;
  row-gap: 25px;
  margin-top: 120px;
  margin-bottom: 120px;
}
.discount-list img{
  width: 100%;
}

.off-60 {
  grid-area: off-60;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4)),
    url("../assets/deal-bloom.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 201px;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.discount-list h6{
 color: #FFFFFF;
}
.discount-list a {
 color: #FFFFFF;
}
.discount-list h6{
  font-size: 1.25rem;
  font-weight: bold;
}
.discount-list a{
  font-weight: 600;
  margin-top: 26px;
  font-size: 1rem;
}
.off-30 {
  grid-area: off-30;
  background-image:linear-gradient(rgba(0, 0, 0, 0.2)), url("../assets/deal-ana.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 197px;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.off-25 {
  grid-area: off-25;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4)),
    url(../assets/deal-zabo.png);
  background-repeat: no-repeat;
  background-size: cover;
  height:423.12px;
  border-radius: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.off-25 h6{
  font-size:2.5rem;;
  color: #FFFFFF;
  
}
.off-25 a {
  font-size: 1.75rem;
  font-weight: 600;
  margin-top: 15px;
}


/* Ekhana theka latest deals section sase*/


/* Ekhana theka join section style start suru */

.join{
background-image: linear-gradient(rgba(7, 51, 79, 0.4)), url('../assets/news-letter-bg.png');
background-repeat: no-repeat;
background-size: cover;
height:533px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
.join-title{
  font-size: 3.125rem;
  color: #FFFFFF;
  font-weight: 700;
  margin-bottom: 23px;
}

.email{
  color: rgba(0, 0, 0, 0.5);
  padding: 19px 540px 19px 20px;
  margin-right: 0px;
}
.Subscribe{
  font-weight: 500;
  color: #FFFFFF;
  background-color: #E95A08;
  padding: 21px 53.5px;
  border: none;
  margin-left: 0px;
}


/* Ekhana theka join section style start sase */


